@import "tailwindcss";

@theme {
  --color-primary: #7db800;
  --color-secondary: #f2f2f2;
}

:root {
  --color-primary: #7db800;
  --color-secondary: #f2f2f2;
}

.swiper-pagination-bullet {
  background: #f2f2f266 !important; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #7db800 !important; 
}

.swiper-button-next,
.swiper-button-prev {
  color: #7db800 !important; 
  font-weight: black;
}
